@keyframes jump {
  50% {
    transform: translateY(-10px);
  }
}

* { 
  box-sizing : border-box;
  scroll-behavior: smooth;
}


body {
  font-family: Morganite;/*add fallback fonts*/
  font-weight: 300;
  background: white url('../Ressources/Images/shotaro-kaneda-final.png') no-repeat fixed top center;
  background-size: auto 140vh; 
  min-height: 550px;
  overflow-x: hidden;
}
.verticalMenu {
  position : fixed;
  left: 15px;
  top: 25%;
  opacity:0;
  transition: opacity 0.1s;
}
.dot {
  background-color: white;
  width: 25px;
  height: 25px;
  border: #DA1D1F solid 5px;
  border-radius: 50%;
  margin: 60px 0;
}
.disabled{
  background-color: #2B2D42;
}

p{
  font-family: 'Raleway', sans-serif;
  font-size : 16px;
  margin: 0 30px;
  line-height: 25px;
  margin-bottom: 20px;
  text-align: justify;
}

a {
  color: white;
}

#firstPage {
  height: 100vh;
}

header div {
  font-weight: 500;
  font-style: italic;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

#logo{
  margin-top: 20vh;
  width: 90vw;
  max-width: 550px;
}

h1{
  color : #2B2D42;
}

#mo {
  font-size: 53px;
}

#ani {
  font-size: 47px;
}

#jap {
  font-size: 94px;
}

ul{
  font-size: 100px;
}

.menu{
  height:100vh;
  background: url('../Ressources/Images/fleche_2.svg') no-repeat fixed;
  background-size: contain;
  text-align: center;
}

.menu li{
  margin: 30% 0;
}

.menu a{
  background-color: #DA1D1F;
  padding: 0 10px;
}

.menu li:hover{
  transform: scaleX(1.1);
  transition: transform 0.3s;
}

.arrow img{
  animation: 1s jump ease-out infinite;
  width: 110px; 
  height: 60px;
}

.arrow p {
  opacity: 0;
  font-size : 14px;
  color: black;
}

.arrow:hover p{
  opacity: 1;
  transition: opacity 0.3s;
}

.part{
  padding-left: 40px;
}

h2 {
  font-size: 127px;
  font-style: italic;
}

#histoire{
  background-color: #DA1D1F;
  padding-bottom: 20px;
  color: white;
}

#histoire h2{
  transform: rotate(90deg);
  height: 100%;
  align-self: center;
  
}

.subHeading{
  display: flex;
  flex-direction:row;
  justify-content: space-between;
  align-items: flex-end;
}

.subHeading img{
  width: 29%;
  height: auto;
  margin-bottom: 4%;
  transform: translateX(-210%);
  opacity: 0;
  transition: opacity 1s, transform 2s;
}

.pill{
  background: linear-gradient(to bottom, #DA1D1F 47%, rgba(0,0,0,0) 47%);
}

.pill img{
  max-width: 500px;
  transform: translateY(3px);
  opacity: 0;
  transition: transform 1.5s, opacity 0.5s;
  margin-left: 40px;
}

#personnages{
  background-color: white;
  margin-bottom: 30px;
}

#personnages h2 {
  transform: rotate(-30deg);
  text-align: right;
  color: #DA1D1F;
  margin-bottom: 50px;
  opacity:0;
  transition: opacity 0.5s;
}

.is-reached{
  opacity: 1 !important;
  transform: none !important;
}

.is-reached-img{
  transform: translateY(3px) !important;
}

.is-reached-h2{
  opacity : 1 !important;
}
#personnages p{
  margin-bottom: 30px;
}

.entetePerso{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.entetePerso.even{
  flex-direction: row-reverse;
}

.kanji{
  margin-left: 20px;
  transform: scale(1.3);
  opacity:0;
  transition: opacity 0.5s, transform 1s;
}

#analyse {
  background: linear-gradient(to bottom, rgba(0,0,0,0) 2%, #2B2D42 2%);
  color: white;
  padding-bottom: 50px;
}

#analyse h2{
  color: #DA1D1F;
  margin-left: 20px;
}


.nomPerso {
font-weight: 100;
font-style: italic;
font-size: 65px;
}

.imagePerso {
  width: 210px;
  height: 210px;
}

#analyse h3 {
  font-size: 60px;
  font-style: italic;
  margin-left: 30px;
}

#analyse p:last-of-type{
  margin-bottom:0;
}

.personnalInfo{
  background: linear-gradient(to bottom, #2B2D42 20%, rgba(0,0,0,0) 20%);
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
}

.personnalInfo ul{
  transform-origin: center;
  transform: translateX(-80%) scale(0.3);
  
  opacity:0;
  transition: opacity 2.2s ease-out, transform 1.2s;
}

#footerImage{
  height: 80vh;
  width: auto;
  transform-origin: center;
  transform: translateX(50%);
  transition:transform 1.2s;
}

svg{
  height:60px;
  width: 60px;
  margin: 0 10px;
  
}

footer a{
  color: black;
}

footer li{
  margin: 20% 0;
  font-size: 80px;
}

footer li:hover a, footer li:hover svg{
  color: #DA1D1F;
  fill: #DA1D1F;
}

#footerText{
  background-color: #2B2D42;
  font-family: Morganite;
  font-weight: 300;
  font-style: italic;
  font-size: 45px;
  color: white;
  text-align: center;
  padding: 20px;
  margin: 0;
  line-height: normal;
}

img{
  width:100%;
}

.backToTop{
  width:60px;
  height:40px;
  animation: 1s jump ease-out infinite;
  position: absolute;
  left: 10px;
  margin-top:10px;
}
.backToTop:hover ~ span{
  opacity:1 !important;
}

#footerText span{
  font-size: 30px;
  color: white;
  position: absolute;
  left: 80px;
  margin-top:15px;
  opacity: 0;
  transition: opacity 0.4s;
}

@media (max-width: 420px){
  .subHeading img{
    display: none;
  }  
  #histoire h2{
    transform: rotate(0deg);
    align-self: center;
    margin: 30px 0 0 30px;
  }
}

@media (min-width: 550px){
  #histoire h2{
    transform: rotate(0deg);
    align-self: center;
    margin-left: 30px;
    font-size: 25vw;
  }
}
@media (min-width: 850px){
  #personnages h2{
    margin-top: 8%;
  }

  .entetePerso{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
  }
  #sho .entetePerso{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  #sho h3{
    margin-right:30px;
  }
  .entetePerso.even{
    flex-direction: column;
  }

  #persos{
  margin-top: -10%;
  display:grid;
  grid-template-rows: repeat(auto,3);
  grid-template-columns: 4fr 5fr;
  grid-template-areas: "sho sho" "kei tet"  "col aki";
  }
  #sho{
    grid-area: sho;
  }
  #tet{
    grid-area: tet;
  }
  #col{
    grid-area: col;
  }
  #aki{
    grid-area: aki;
  }
}

@media (min-width: 950px){
  .pill img{
  transform: translateX(85%) translateY(3px);
  }
}

@media (min-width: 1000px){
  #analyseParts{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
  }
}